/*------------------------------------*\
    		$SETTINGS
\*------------------------------------*/

/* ============== // Transition // ============== */

$time: .3s;
$transition-method: ease-in-out;


/* ============== // FONTS // ============== */
$principal: #333333;
$main: #ef7b00;
$main-dark: #00347f;
$gray: #939393;
$gray-dark: #464646;
$gray-light: #e1e1e1;
$gray-lighter: #f1f1f1;