<footer class="footer">
    <div class="text--foo">
       <p>
           © Citytrekkingguide.com All Right Reserved
       </p>
        <p>
            Fernando <a href="tel:+56968394639">+56 9 6839 4639</a>
        </p>
        <p>
            Ignacio <a href="tel:+56958657393">+56958657393</a>
        </p>
        <p>
            Sven <a href="tel:+491702098327">+49 170 2098327</a>
        </p>
    </div>
    <div class="foo__redes">
        
    </div>
</footer>