/*------------------------------------*\
$MAIN
\*------------------------------------*/
html, body {
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: $principal;
}
* {
    &:focus {
        outline: 0;
    }
}
a {
    transition: all $time;
    white-space: nowrap;
}
.title--section {
    position: relative;
    @include font-size(24px, 28px);
    font-weight: 600;
    display: table;
    margin: 0 auto 30px;
    &::after {
        content: '';
        width: 60px;
        height: 2px;
        background: $principal;
        display: block;
        margin-top: 5px;
    }
}